ul {
    list-style-type: none;
}

.todos {
    cursor: pointer;
}

/* .todo::before {
    content: "\2610";
    display: inline-block;
    margin-right: 0.5rem;
  } */

/* .todo.active { */
/* text-decoration: line-through; */
/* color: #888; */
/* } */

/* .todo.active::before {
    content: "\2611";
  }
   */
/* toggler */
.toggler::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.toggler.current {
    background-color: #afd2af;
    padding: 6px;
    border-radius: 6px;
}

.todo.current {
    background-color: #afd2af;
    padding: 6px;
    border-radius: 6px;
}

.toggler-remain {
    content: "\25B6";
    display: inline-flex;
    flex-direction: row;
}

.toggler.active::before {
    transform: rotate(90deg);
}

.toggler-target {
    display: none;
}

.toggler-target.active {
    display: block;
}

.togger-edit {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* .todo-plus{
  margin-left: 0.5rem;
} */
.main-toggler {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.missiong-spam {
    color: red;
}

.small-icons {
    font-size: 12px !important;
}

.search-group .refresh {
    font-size: 18px;
}

.search-group {
    padding-bottom: 0px;
}

.dt-buttons {
    text-align-last: end !important;
    margin-top: 0px;
}

.hover-cutom:hover {
    background-color: #bcbcbc !important;
    color: black !important;
}

.treste {
    color: blueviolet;
}


.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    margin: 5px 10px 5px 0;
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.form-inline button:hover {
    background-color: royalblue;
}

@media (max-width: 800px) {
    .form-inline input {
        margin: 10px 0;
    }

    .form-inline {
        flex-direction: column;
        align-items: stretch;
    }
}


@media (min-width: 768px) {
    .d-mobile-display {
        display: none;
    }
}

.contact .info-box a {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.logo-box {
    background-color: #fff !important;
    color: #006098 !important;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.logo-box button {
    background-color: #1d8db8 !important;
    color: #fff !important;
}




/*****************************/
:root {
    --white-color: #ffffff;
    --main-color: #39ac3f;
    --primary-color: #2b98d4;
    --secound-color: #264176;
    --danger-color: #e7332a;
    --dark-color: #4e4e4d;
    --light-color: #f1f1f1;
    --secondary-color: #929292;


    /*// whatsapp icoo added!*/
    --black: #000;



    --main-raduis: 10px;
    --main-font-size: 14px;
    --main-font-icon: 24px;
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "ITC Handel Gothic Arabic Bold";
}


.bg-main {
    background-color: var(--main-color);
    /*whatsapp icoo added!*/
    color: white;
}

.bg-main:hover {
    background-color: var(--main-color);
    color: white;
}

.text-main {
    color: var(--main-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.bath {
    background-color: #dadada;
}

header {
    background-color: #fff;
}

.nav-link {
    padding-left: 0 !important;
}

.Hero {
    /*whatsapp icoo added!*/
    background-image: url("../images/22.jpg");
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 580px;
    width: 100%;
}






.booking {
    background-color: var(--main-color);
}

/*Hero*/

/*OURSPECIALTIES*/
.OURSPECIALTIES {
    background-color: #f1f1f1;
}

/*whatsapp icoo added!*/
.w {
    color: var(--main-color);
}

/*whatsapp icoo added!*/
.S_card {
    transition: box-shadow 0.5s ease;
}

/*whatsapp icoo added!*/
.S_card h4 {
    color: var(--main-color);
}

/*whatsapp icoo added!*/
.S_card:hover p {
    color: var(--secound-color);
}

/*whatsapp icoo added!*/
.S_card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Adjust shadow properties as needed */
}

/*OURSPECIALTIES*/

/*ourdoctors*/
/*   whatsapp icoo added!*/
.ourdoctors {
    background-color: #dadada;

    h1 {
        color: var(--main-color);
    }

    /*whatsapp icoo added!*/
    h5 {
        color: var(--main-color);
    }

    /*whatsapp icoo added!*/
    p {
        color: #0d1f44;
        font-weight: bolder;
    }
}




/*ourdoctors*/
/*community*/
/*   whatsapp icoo added!*/
.community {
    background-color: var(--main-color);

    button {
        color: var(--secound-color);
    }
}


/*ourdoctors*/
/*community*/
.community {
    background-color: var(--main-color);

    button {
        color: var(--secound-color);
    }
}

/*community*/

/*clients*/
.clients {
    background-color: #fff;

    .navigation {
        span {
            color: var(--main-color);
        }
    }

    .ClientsCard {
        border-top: 5px solid var(--main-color);
        /* Green border on top */
        border-left: 1px solid gray;
        /* Remove left border */
        border-right: 1px solid gray;
        /* Remove right border */
        border-bottom: 1px solid gray;
        /* Remove bottom border */
        padding: 20px;
        /* Add padding for content */

        border-radius: 10px;
    }

    .avatar {
        width: 50px;
        /* Set avatar width as needed */
        height: 50px;
        /* Set avatar height as needed */
        border-radius: 50%;
        /* Make the avatar circular */
        margin-right: 10px;
        /* Add margin between avatar and user name */
    }

    .user-name {
        font-weight: bold;
    }
}

/*clients*/
/*Gallery*/
.Gallery {
    background-color: #f4f4f4;

    h3 {
        color: var(--main-color);
    }

    .G_Card:hover p {
        color: var(--main-color);
    }

    .q {
        background-color: var(--main-color) !important;
        color: white;
    }
}

/*Gallery*/
/*Videos*/
.Videos {
    h3 {
        color: var(--main-color);
    }

    p {
        color: var(--secound-color);
    }

    .z {
        border-top: 5px solid var(--main-color);
        /* Green border on top */
        border-left: 1px solid gray;
        /* Remove left border */
        border-right: 1px solid gray;
        /* Remove right border */
        border-bottom: 1px solid gray;
        /* Remove bottom border */
        padding: 20px;
        /* Add padding for content */

        border-radius: 10px;
    }
}

/*Videos*/
/*insurances*/
.insurances {
    background-color: var(--main-color);
}

/*insurances*/
/*info*/
.info {
    background-color: #dadada;
    color: var(--main-color);
}

/*info*/
/*footer*/
.footer {
    p {
        color: var(--secound-color);
    }

    ul {
        list-style: none;
    }

    .q {
        background-color: var(--main-color) !important;
        color: white;
    }

    .whatsapp {
        position: fixed;
        left: 15px;
        bottom: 15px;
        z-index: 99999;
        background: #25d366;
        width: 50px;
        height: 50px;
        border-radius: 11px;
        transition: all 0.4s;
        font-size: 2rem;
        text-decoration: none;
    }
}

/*footer*/
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 9999;
    padding-bottom: 15px;
    transition: opacity 0.3s ease-in-out;
}

#scrollToTopBtn.fade-in {
    opacity: 1;
}

#scrollToTopBtn.fade-out {
    opacity: 0;
}

/*Best doctors*/
.best {
    .text-title {
        color: var(--main-color);
    }

    .card:hover .card-title {
        color: var(--main-color);
    }

    .icons i {
        color: var(--secondary-color);
    }

    .nav-item {
        margin: 0 5px;
        text-align: center;
        background-color: var(--primary-color);
        border-radius: 15px;
        color: var(--white-color) !important;

        .nav-link {
            padding: 10px !important;
            color: #fff;

            &.active {
                color: #000 !important;
            }
        }

        &:hover {
            background-color: var(--main-color);
            color: var(--white-color);
        }
    }
}

/*Best doctors*/

/*BookAnAppointment*/
.book {
    .text-title {
        color: var(--main-color);
    }

    .form {
        .form-control {
            background-color: #dadada;
        }

        /* #Name::placeholder,
  #Email::placeholder {
      color: red; /* default color
  } */
        input[type="date"]:required:invalid::-webkit-datetime-edit {
            color: transparent;
        }

        select#exampleFormControlSelect1 {
            background: #dadada url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat 95% center;
        }

        button[type="submit"] {
            color: white;
        }
    }

    .ourinfo {
        color: gray;

        .x {
            color: var(--main-color) !important;
        }
    }
}

/*BookAnAppointment*/

/*Meet*/
.Meet {
    .title {
        color: var(--main-color);
    }

    h1 {
        color: var(--main-color);
    }

    p {
        color: var(--secound-color);
    }

    .q {
        background-color: var(--main-color) !important;
        color: white;
    }

    .text {
        background-color: #dadada;
    }
}

/*Meet*/

/*Single*/
.Single {
    @media (max-width: 991.98px) {
        .quickProfile {
            height: 50%;
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .form {
            height: 55%;
            margin-left: 0.5rem;
        }
    }

    @media (min-width: 992px) {
        .quickProfile {
            height: 45%;
        }

        .form {
            height: 51%;
        }
    }

    .quickProfile {
        font-size: 15px;

        button {
            color: var(--main-color);
        }

        button:hover {
            color: var(--main-color);
        }
    }

    .form {
        background-color: #dadada;

        button:hover {
            color: white;
        }
    }

    .Detailed_info {
        .Infoicons {
            i {
                background-color: #fff5f5;
                color: #8b8b8b;
            }

            i:hover {
                background-color: var(--main-color);
                color: white !important;
            }
        }

        .Infotext {
            color: #929292;
        }
    }

    .ClientsCard {
        border-top: 5px solid var(--main-color);
        /* Green border on top */
        border-left: 1px solid gray;
        /* Remove left border */
        border-right: 1px solid gray;
        /* Remove right border */
        border-bottom: 1px solid gray;
        /* Remove bottom border */
        padding: 20px;
        /* Add padding for content */

        border-radius: 10px;
    }

    .avatar {
        width: 50px;
        /* Set avatar width as needed */
        height: 50px;
        /* Set avatar height as needed */
        border-radius: 50%;
        /* Make the avatar circular */
        margin-right: 10px;
        /* Add margin between avatar and user name */
    }

    .user-name {
        font-weight: bold;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: #929292;
        color: #fff !important;
    }

    .swiper-button-prev {
        left: -100px;
        right: auto;
    }
}

.c {
    background-color: var(--main-color);
    height: 15px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--main-color);
    color: #fff !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px !important;
}

/*Single*/

/*OURSPECIALTIES*/
.OURSPECIALTIES {
    background-color: #f1f1f1;
}

.w {
    color: var(--main-color);
}

.S_card {
    transition: box-shadow 0.5s ease;
}

.S_card:hover h4 {
    color: var(--main-color);
}

.S_card:hover p {
    color: var(--secound-color);
}

.S_card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Adjust shadow properties as needed */
}

/*OURSPECIALTIES*/