/*All items*/
@font-face {
    font-family: Somar-Medium;
    src: url("../Fonts/Somar-Medium.otf");
}
@font-face {
    font-family: Somar-Light;
    src: url("../Fonts/Somar-Light.otf");
}
@font-face {
    font-family: Somar-Regular;
    src: url("../Fonts/Somar-Regular.otf");
}
@font-face {
    font-family: SomarSans-Bold;
    src: url("../Fonts/SomarSans-Bold.ttf");
}
@font-face {
    font-family: SomarSans-ExtraBold;
    src: url("../Fonts/SomarSans-ExtraBoldCondensed.ttf");
}
@font-face {
    font-family: SomarSans-SemiBold;
    src: url("../Fonts/SomarSans-SemiBoldExpanded.ttf");
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.almarai-light {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.almarai-regular {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.almarai-bold {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.almarai-extrabold {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #f9eff8;
    direction: rtl;
}
ul {
    list-style: none;
}
li a {
    color: #fff;
    text-decoration: none;
}
img {
    border-radius: 15px;
}
/*/////////////////////////////////////////////////////////INDEX PAGE ////////////////////////////////////////////////////////////////////////////////////////////*/
/*All items*/

/*Header*/
.header {
    background-color: #fff;
    font-family: Somar-Regular;
    font-size: 18px;

    box-shadow: 0px 10px 15px rgb(94, 43, 83, 0.3),
    0px 4px 6px rgba(94, 43, 83, 0.2);

.nav-item a {
    color: #905885;
    font-size: 20px;
}

.dropdown-toggle::after {
    vertical-align: 0px;
}
.item:hover {
    border-bottom: 5px solid #905885;
    font-size: 18px;
}
i {
    color: #fff;
}
.custom-toggler.navbar-toggler {
    outline: none;
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
}
/*Header*/

/*Hero*/
@media (max-width: 991.98px) {
    .Hero {
    /*Text Area*/
    .TextArea {
    .Hero_text {
        font-size: 54px;
    span {
        font-size: 33px;
    }
}
.uderline {
    width: 30%;
}
.subtitle {
    font-size: 20px;
}
.decription {
    font-size: 18px;
}
}
/*Text Area*/
.swiper-pagination {
    top: 90% !important;
}
}
}

@media (min-width: 992px) {
    .Hero {
    /*Text Area*/
    .TextArea {
    .Hero_text {
        font-size: 64px;
    span {
        font-size: 66px;
    }
}
.uderline {
    width: 12%;
}
.subtitle {
    font-size: 29px;
}
.decription {
    font-size: 20px;
}
}
/*Text Area*/
.swiper-pagination {
    top: 86% !important;
}
}
}

.Hero {
.swiper {
    height: 550px;
}
.swiper-slide {
    position: relative;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -o-object-fit: contain;
    object-fit: contain;
}
.slide-1 {
    background-image: url("../imgs/1-1.jpg");
}
.slide-2 {
    background-image: url("../imgs/2-2.jpg");
}
.slide-3 {
    background-image: url("../imgs/3-3.jpg");
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Set the height to 100% */
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.slide-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire slide */
    height: 100%; /* Cover the entire slide */
    -o-object-fit: cover;
    object-fit: cover; /* Ensure the video covers the entire slide */
    z-index: -1;
}
.middle {
    margin-top: 8rem;
}
/*Text Area*/
.TextArea {
.Hero_text {
    font-family: SomarSans-ExtraBold;

span {
    font-family: Somar-Light;
}
}
.uderline {
    border-radius: 5px;
    height: 7px;
    background-color: #210d9c;
}
.subtitle {
    word-spacing: 10px;
    letter-spacing: 1rem;
    font-size: 32px;
    font-family: Somar-Regular;
}
.decription {
    font-family: Somar-Regular;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.6);
}
}
/*Text Area*/

.btn-more {
    background-color: #8c1320;
    color: #fff;
    border-radius: 50px;
    font-size: 15px;
    border: 4px solid rgba(250, 250, 250, 1);
    padding: 0 38px;
    outline: none;
}
.btn-more:hover {
    background-color: #8c1320;
    border: 4px solid rgba(250, 250, 250, 1);
    color: #fff;
    outline: none;
}
.swiper-pagination {
    position: absolute;
}
.swiper-pagination-bullet {
    background: white;
    border-radius: 20px;
    width: 40px;
}
}
/*Hero*/

/*leadership*/
.leadership {
.Title {
h2 {
    font-family: SomarSans-Bold;
    color: #5e2b53;
}
.titleImg {
img {
    height: 35px;
}
}
}

.leaders {
.Img {
img {
    border-radius: 15px;
}
}
.Text {
    font-size: 2rem;
    font-weight: blod;
.btn-more {
    position: relative;
    background-color: #905885;
    color: #fff;
    border-radius: 50px;
    font-size: 15px;
    border: 4px solid rgba(250, 250, 250, 1);
    padding: 0px 38px;
    outline: none;
    cursor: pointer;
    z-index: 10;
}
}
}
}
@media (max-width: 991.98px) {
    .leadership {
& .leaders {
& .leader {
    .z::after {
        content: "";
        display: none;
    }
}
}
}
}
/*leadership*/

/*prodects*/
.prodects {
    background-color: #f9eff8;
    padding-top: 6rem;
    padding-bottom: 6rem;
.Title {
h2 {
    font-family: SomarSans-Bold;
    color: #5e2b53;
}
.titleImg {
img {
    height: 35px;
}
}
}
.yellowDiv {
    border-radius: 11px;
    background: -o-radial-gradient(
        circle,
        rgba(255, 255, 255, 1),
        rgba(144, 88, 133, 1)
    );
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1),
        rgba(144, 88, 133, 1)
    );
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
img {
    margin-top: -5rem;
}
.prodectInfo {
h4 {
    font-family: SomarSans-SemiBold;
}
p {
    font-family: Somar-Regular;
    font-size: 23px;
}
}
}
.btn-more {
    background-color: #905885;
    color: #fff;
    border-radius: 50px;
    font-size: 15px;
    border: 4px solid rgba(250, 250, 250, 1);
    padding: 0px 38px;
    outline: none;
    cursor: pointer;
    z-index: 10;
    width: 180px;
}
.btn-more:hover {
    background-color: #905885;
    color: #fff;
}
}

@media (max-width: 991.98px) {
    .prodects {
    .Title {
    h1 {
        font-size: 26px;
    }
}
.btn-more {
    width: 95%;
}
.yellowDiv {
img {
    margin: 0;
}
}
}
}
/*prodects*/

/*OurVision*/

.OurVision {
    background: -o-radial-gradient(circle, #893e7a, #905885);
    background: radial-gradient(circle, #893e7a, #905885);
    border-radius: 11px;
    padding: 6rem 0;
h1 {
    font-family: SomarSans-Bold;
    font-size: 36px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Set the height to 100% */
    background-image: url("../imgs/Vector.png");
    z-index: 0;
}
.Vision {
.WhiteDiv {
    border-radius: 11px;
    background-color: #fff;
}
.text {
    color: #fff;
    margin-top: 2rem;
h1 {
    font-family: SomarSans-Bold;
    font-size: 36px;
}
p {
    font-family: Somar-Medium;
    font-size: 30px;
    line-height: normal;
}
}
}
}

/*OurVision*/

/*AboutUs*/
.AboutUs {
.number {
    background-color: white;
    border-radius: 33px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
h1 {
    font-family: SomarSans-Bold;
    color: #905885;
    font-size: 60px;
}
p {
    font-family: Somar-Regular;
    color: #1c1a27;
    font-size: 30px;
}
}
}
/*AboutUs*/

/*Footer*/
.Footer {
    background: -o-radial-gradient(center, circle, #e84354 0%, #905885 50%);
    background: radial-gradient(circle at center, #905885 0%, #5e2b53 50%);
    /* height: calc(100vh-); */
    border-radius: 11px 11px 0 0;
.logo {
img {
    width: 182px;
}
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Set the height to 100% */
    background-image: url("../imgs/Vector.png");
}
.footer-menu {
    list-style: disc;
li {
    font-size: 14px;
    font-family: SomarSans-Bold;
&::marker {
     color: #1dc9a0;
     font-size: 0.8rem;
 }
a:hover {
    color: #c798bd;
}
}
}
.info i {
    font-size: 25px;
}
.location {
span {
    font-family: SomarSans-Bold;
    font-size: 14px;
    color: #fff;
}
}
.phone {
.q {
    color: #fb8d1a;
}
span {
    font-family: SomarSans-Bold;
    font-size: 14px;
    color: #fff;
}
}

.email {
.q {
    color: #fb8d1a;
}
span {
    font-family: SomarSans-Bold;
    font-size: 14px;
    color: #fff;
}
}
.soical {
h5 {
    font-family: SomarSans-Bold;
    font-size: 14px;
    color: #fff;
}
.S_icon {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}
}
hr {
    color: #fff;
    height: 10px;
}
h4 {
    font-size: 14px;
}
}
/*Footer*/
/*/////////////////////////////////////////////////////////INDEX PAGE ////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////Signle PAGE////////////////////////////////////////////////////////////////////////////////////////////////*/

/*Header*/
.header-item {
    background: -o-radial-gradient(center, circle, #e84354 0%, #8c1320 50%);
    background: radial-gradient(circle at center, #e84354 0%, #8c1320 50%);
    font-family: Somar-Regular;
    font-size: 18px;
.nav-item a {
    color: #fff;
    font-size: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Set the height to 100% */
    background-image: url("../imgs/Vector.png");
}
.item:hover {
    border-bottom: 5px solid #fb8d1a;
    font-size: 18px;
}
i {
    color: #fff;
}
.custom-toggler.navbar-toggler {
    outline: none;
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
}
/*Header*/

/*item*/
.item {
img {
    border-radius: 15px;
}
.description {
h1 {
    font-family: SomarSans-Bold;
    color: #905885;
}
p {
    font-family: Somar-Regular;
    font-size: 25px;
    color: #905885;
}
}
}
/*item/
/*Footer*/

/*Footer*/
/*/////////////////////////////////////////////////////////////////Signle PAGE////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////Prodects Page//////////////////////////////////////////////////////////////////////////////////////////////////////*/

.Products {
h2 {
    font-family: SomarSans-Bold;
    color: #5e2b53;
}
.searcharea {
input {
    background: url(../imgs/search-normal.png) no-repeat scroll 7px;
    padding-left: 42px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
}
hr {
    background-color: rgb(108, 117, 125) !important;
    opacity: 0.25;
}
.checkboxs {
    position: relative;
.input-assumpte:checked {
    background-color: #1dc9a0 !important;
    border: #1dc9a0;
}
.form-check {
    width: fit-content;
.form-check-input {
    float: none;
    margin-left: 0;
}
label {
    font-size: 18px;
    font-family: SomarSans-Bold;
    color: #905885;
}
}
}
.checkboxs::after {
    content: "";
    background-color: #6c757d;
    opacity: 0.25;
    position: absolute;
    width: 1px;
    height: 520px;
    top: -56px;
    left: 42%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cards {
    -ms-grid-column: 2;
    grid-column: 2rem;
    row-gap: 2rem;
.card {
    border: none;
h5 {
    font-family: SomarSans-Bold;
    color: #5e2b53;
}
p {
    font-family: Somar-Regular;
    font-size: 20px;
    color: #893e7a;
}
a {
    font-family: Somar-Regular;
    font-size: 25px;
    color: #fff;
    width: 100%;
    border-radius: 11px;
    padding: 2px;
    background-color: #905885;
    opacity: 0.8;
}
}
}
}

@media (max-width: 991.98px) {
    .Products {
    .checkboxs::after {
        content: none;
        height: 0;
        width: 0;
    }
}
}
/*/////////////////////////////////////////////////////////Prodects Page//////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////Content US//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.Content_Us {
.conteantHeader {
h1 {
    font-family: SomarSans-Bold;
    font-size: 48px;
    opacity: 0.9;
    color: #905885;
}
p {
    font-family: Somar-Regular;
    font-size: 30px;
    opacity: 0.8;
span {
    font-size: 25px;
}
}
}
.info {
h1 {
    color: #905885;
    opacity: 0.9;
}
.location {
i {
    color: #292d32;
    opacity: 0.8;
}
span {
    font-family: SomarSans-Bold;
    font-size: 17px;
    color: #292d32;
    opacity: 0.8;
}
}

.email {
i {
    color: #292d32;
    opacity: 0.8;
}
span {
    font-family: SomarSans-Bold;
    font-size: 17px;
    color: #292d32;
    opacity: 0.8;
}
}

.phone {
i {
    color: #292d32;
    opacity: 0.8;
}
span {
    font-family: SomarSans-Bold;
    font-size: 17px;
    color: #292d32;
    opacity: 0.8;
}
}
}

.ContentForm {
h1 {
    font-family: SomarSans-Bold;
    font-size: 20px;
    opacity: 0.9;
}
p {
    font-family: Somar-Regular;
    font-size: 20px;
    opacity: 0.8;
span {
    font-size: 25px;
}
}

.form-group {
label {
    font-family: SomarSans-Bold;
    font-size: 20px;
    color: black;
}
input {
    border: none;
    border-bottom: 1px solid gray;
}
&.message {
textarea {
    border: none;
    border-bottom: 1px solid gray;
    resize: none;
}
}
}
.btn-send {
    background: #5e2b53;
    color: #fff;
    border-radius: 15px;
}
}
}
@media (max-width: 991.98px) {
    .Content_Us {
    .info {
    .location {
    span {
        font-size: 15px;
    }
}
}
}
}
/*/////////////////////////////////////////////////////////Content US//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////vedios//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.vedios {
.title {
h1 {
    font-family: SomarSans-Bold;
    font-size: 48px;
    opacity: 0.9;
    color: #8c1320;
}
p {
    font-family: Somar-Regular;
    font-size: 30px;
    opacity: 0.8;
}
}
}
/*/////////////////////////////////////////////////////////////////////////Vedio////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////Blog//////////////////////////////////////////////////////////////////////////////*/
.blog {
h1 {
    color: #5e2b53;
}
p {
    color: #905885;
}
}
/*///////////////////////////////////////////////////////////////////////Blog//////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////About US////////////////////////////////////////////////////////////////////////////*/

.AboutUs {
    background: #fff;
    border-radius: 11px;
    padding: 6rem 0;
h1 {
    font-family: SomarSans-Bold;
    font-size: 36px;
    color: #905885;
}
p {
    font-family: Somar-Medium;
    font-size: 20px;
    line-height: normal;
}
.Vision {
.WhiteDiv {
    border-radius: 11px;
    background: #6d3868;
img {
    height: 180px;
}
}

.text {
    color: #905885;
    margin-top: 2rem;
h1 {
    font-family: SomarSans-Bold;
    font-size: 36px;
    color: #905885;
}
p {
    font-family: Somar-Medium;
    font-size: 20px;
    line-height: normal;
    color: #5a5559;
}
ul {
    height: fit-content;
    overflow: hidden;
a {
    color: #5a5559;
    cursor: pointer;
}
li {
    margin-bottom: 5px;
    font-family: Somar-Medium;
    font-size: 20px;
    line-height: normal;
    color: #5a5559;
.title {
    font-weight: 800;
}
&.hidden-text-1 {
     display: none;
 }
&.hidden-text-2 {
     display: none;
 }
}
}
}
}
}
/*/////////////////////////////////////////////////////////////////////About US////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////Jobs////////////////////////////////////////////////////////////////////////////////////////*/
.Jobs {
h2 {
    font-family: SomarSans-Bold;
    color: #5e2b53;
}
.apply-btn {
    background-color: #5e2b53;
    color: #fff;
    outline: none;
    border: none;
&:hover {
     color: #fff;
 }
}
}




/*************custom**********/
.bg_purple_h4{
    color:  #905885 !important;
}

.item:hover {
    border-bottom: 5px solid #905885;
    font-size: 18px;
}


/*.btn-more:hover {*/
/*    position: relative;*/
/*    background-color: #905885;*/
/*    color: #fff;*/
/*    border-radius: 50px;*/
/*    font-size: 15px;*/
/*    border: 4px solid rgba(250, 250, 250, 1);*/
/*    padding: 0px 38px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    z-index: 10;*/

/*}*/



/*.btn-custom-blogs {*/
/*    position: relative;*/
/*    background-color: #905885;*/
/*    color: #fff;*/
/*    border-radius: 50px;*/
/*    font-size: 15px;*/
/*    border: 4px solid rgba(250, 250, 250, 1);*/
/*    padding: 0px 38px 28px 38px;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*    z-index: 10;*/
/*    width: 118px;*/
/*    height: 30px;*/
/*    text-decoration: none;*/

/*    text-align: center;*/
/*    margin: auto;*/

/*}*/
:root {
    --main-bg-purple-color: #800080;
    --main-bg-purple-second-color:#ff33ff;
    --primaryBgColor:#070f9e;
}



.btn-custom-blogs:hover {
    color: white;
}


.poniterClass{
    cursor: pointer;
}
.poniterClass:hover{
    cursor: pointer;
}

#newMainBtn{
    width: 12%;
    border-radius: 39px;
    color: purple;
    font-size: 17px;
    font-weight: 900;
}

.custom-toggler.navbar-toggler{
}


/************navbar icon at mobile ******/
.header {
.custom-toggler.navbar-toggler {
    background-color: var(--main-bg-purple-color);
}
}

.navbar-toggler:focus {
    box-shadow: none !important;
}
/************end navbar icon at mobile ******/





